<!-- Navbar -->
<header class="header">
    <div class="container">
        <!--nav-->
          <div class="header__container">
            <nav class="nav">
                <!-- <div class ="nav__brand">
                          <div class="nav__brand-logo"><a class="nav__brand-link" href="#">Landwind</a></div>
                </div> -->
                
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a class="nav__link"  href="#">Home
                            </a> 
                    </li>
                    <li class="nav__item">
                      <a class="nav__link" href="#">What is GPT?</a> 
                  </li>
                  <li class="nav__item">
                    <a class="nav__link"  href="#">Open AI</a> 
                </li>
                <li class="nav__item">
                    <a class="nav__link"  href="#">Case Studies</a> 
                </li>
                <li class="nav__item">
                    <a class="nav__link"  href="#">Library</a> 
                </li>

                </ul>

                <div class="nav__btns">
                    <a href="#" class="btn btn__outline  nav__btn">Sign in</a>
                    <a href="#" class="btn btn__primary nav__btn">Get started</a>
                </div>
                
                <div class="burger">
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                </div>
            
           </nav>
          </div>

    </div>
     
</header>

    
     